# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых начинаются на main.* и на main
main.*
main
# НО отслеживать файл main.cpp, несмотря на то, что мы игнорируем все main.* файлы с помощью предыдущего правила
!main.cpp

